<h1>Create a new class</h1>

<script type="text/javascript">
function validateForm() {
    var totalWeight = 0;
    for (var i = 0; i < document.getElementsByClassName("weight").length; i++) {
        if (isNaN(parseInt(document.getElementsByClassName("weight")[i].value)) === false) {
            totalWeight += parseInt(document.getElementsByClassName("weight")[i].value);
        }
    }
    if (totalWeight != 100) {
        alert("Weights must add up to 100")
        return false;
    }
}
</script>

<form name="create_class" action="/teacher/classes/new/create/" onsubmit="return validateForm()" method="POST">
    {% csrf_token %}
    {% for deck in decks %}
        <input type="checkbox" name="deck" value="{{deck.pk}}">{{deck.name}}
        Deadline:
        <input type="datetime-local" name="deck{{deck.pk}}deadline">
        Weighting %:
        <input type="number" class="weight" name="deck{{deck.pk}}weight" min="1" max="100" step="1">
        <br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>