{% extends 'ebbings/base.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Classes home page</h1>
  </div>

{% for group in teacher_groups %}
  <div class="row">
    <div class="col-xs-12">
      <h4><strong>{{group.name}}</strong></h4>
    </div>
  </div>

  {% for deck in group.associated_decks %}
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      {{deck.0}}
    </div>
    <div class="col-xs-6 col-sm-4">
      <em>Deadline:</em> {{deck.1}}
    </div>
    <div class="col-xs-6 col-sm-2">
      <em>Weight:</em> {{deck.2}}% 
    </div>
    <div class="col-xs-6 col-sm-2">
      <a href="{% url 'teacher:decks_review_one' deck.3 %}">Review deck</a>
    </div>
  </div></li>
  <br>
  {% endfor %}
  
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a href="{% url 'teacher:classes_one' group.pk %}">View student progress</a>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p>Your students can join <strong>{{group.name}}</strong> by going to <a href="{% url 'student:classes_join' group.pk %}">this URL</a> (requires student account)</p>
    </div>
  </div>
  <hr>
{% endfor %}

  <div class="row">
    <div class="col-xs-12">
      <a href="{% url 'teacher:classes_new' %}">Create a new class</a>
    </div>
  </div>    
</div>
{% endblock %}