{% extends 'ebbings/base.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{{deck_name}}</h1>
  </div>

  {% for card in cards %}
   <div class="row"> 
    <div class="col-xs-12">
      <strong>{{card.front}}</strong>
      {% if card.front_additional %}
        {{card.front_additional}}
      {% endif %}
    </div>
    <div class="col-xs-12">
      {{card.back}}
      {% if card.back_additional %}
        {{card.back_additional}}
      {% endif %}
    </div>
    {% if card.example %}
    <div class="col-xs-12"><em>{{card.example}}</em></div>
    {% endif %}
  </div>
  <br>
  {% endfor %}

{% endblock %}