{% extends 'ebbings/base.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{{deck.name}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-4">Current time: {{now}} (UTC)</div>
    <div class="col-xs-4">{{num_acquired_cards}} out of {{num_total_cards}} acquired ({{percent_acquired}}%)</div>
    <div class="col-xs-4">
      {% if deadline_passed %}
      Deadline passed! You can no longer study this deck.
      {% else %}
      {{num_due_cards}} cards due
      {% endif %}
    </div>
  </div>
  {% if not deadline_passed %}
  <br>
  <div class="row">
    <div class="col-xs-12"><a class="btn btn-primary btn-lg" href="{% url 'student:study_start' group.pk deck.pk %}">Start studying!</a></div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">To use Ebbings effectively, try to think of the answer in your head before clicking to reveal the answer. This technique is called <em>retrieval practice</em>, and studies have shown it to be a better way to learn.</div>
  </div>
  {% endif %}
</div>
{% endblock %}