<h1>{{deck.name}}</h1>
<p>Current time: {{now}} (UTC)</p>
<p><strong>{{due_card.card.front}}</strong></p>
{% if due_card.card.front_additional %}<p>{{due_card.card.front_additional}}</p>{% endif %}
<p>{{due_card.card.back}}</p> 
{% if due_card.card.back_additional %}<p>{{due_card.card.back_additional}}</p>{% endif %}
<p>
{% if due_card.card.example %}{{due_card.card.example}}{% endif %}<br></p>
<p><em>
    Due: {{due_card.due}} (UTC)<br>
    Interval: {{due_card.interval}} minutes<br>
    Ease factor: {{due_card.ease_factor}}<br>
    Learning state: {{due_card.learning_state}}<br>
</em></p>
<form action="/student/study/{{deck.pk}}/start/" method="POST">
    {% csrf_token %}
    <input text="text" name="card_pk" value="{{due_card.pk}}" hidden>
    <input text="text" name="answered" value="1" hidden>
    <input type="submit" name="submit" value="I didn't get the right answer">
</form>
<form action="/student/study/{{deck.pk}}/start/" method="POST">
    {% csrf_token %}
    <input text="text" name="card_pk" value="{{due_card.pk}}" hidden>
    <input text="text" name="answered" value="3" hidden>
    <input type="submit" name="submit" value="I got the right answer but it was difficult">
</form>
<form action="/student/study/{{deck.pk}}/start/" method="POST">
    {% csrf_token %}
    <input text="text" name="card_pk" value="{{due_card.pk}}" hidden>
    <input text="text" name="answered" value="5" hidden>
    <input type="submit" name="submit" value="I got the right answer and it was easy">
</form>
<br><br>
<a href="/student/classes/">Classes</a>
<a href="/">Home page</a>