{% extends 'ebbings/base.html' %}

{% block head %}
<script type="text/javascript">
{% if login_fail %}
    alert("Couldn't log in")
{% endif %}
{% if not_teacher %}
    alert("Access restricted to teachers only")
{% endif %}
{% if not_student %}
    alert("Access restricted to students only")
{% endif %}
</script>
{% endblock %}

{% block content %}
<h1>Users login page</h1>
<form action="{% url 'u_login_try' %}" method="POST">
    {% csrf_token %}
    <h2>
        Username
        <input type='text' name='username' required><br>
        Password
        <input type='password' name='password' required><br>
        <input type='submit' name='button' value='Log in'>
    </h2>
</form>
<a href="{% url 'index' %}">Home page</a>
{% endblock %}