{% extends 'ebbings/base.html' %}
{% load staticfiles %}

{% block head %}
<script type="text/javascript">
function validateForm() {
    var username = $('#username')[0].value;
    $.ajax({
        url: '{% url 'u_register_student_check' %}',
        data: {username: username},
        success: function(jsonresponse) {
            if (jsonresponse.username_exists === true) {
                alert("Username already exists");
            }
            if (jsonresponse.username_exists === false) {
                document.register_teacher.submit();
            }
        }
    });
    return false;
}
</script>
{% endblock %}

{% block content %}
<h1>Users registration page</h1>

<form action="{% url 'u_register_student_success' %}" name="register_student" onsubmit="return validateForm()" method="POST">
    {% csrf_token %}
    <h2>
        First name
        <input type='text' name='first_name' required><br>
        Last name
        <input type='text' name='last_name' required><br>
        Student number
        <input type='text' name='student_id' required><br>
        Email address
        <input type='email' name='email' required><br>
        Username
        <input type='text' id='username' name='username' required><br>
        Password
        <input type='password' name='password' required><br>
        <input type='submit' name='button' value='Create new user'>
    </h2>
</form>
{% endblock %}