<h1>Users registration page</h1>

<form action="/users/register_teacher/check/" method="POST">
    {% csrf_token %}
    <h2>
        First name
        <input type='text' name='first_name' required><br>
        Last name
        <input type='text' name='last_name' required><br>
        Teacher ID (Students will see this)
        <input type='text' name='teacher_id' required><br>
        Email address
        <input type='email' name='email' required><br>
        Username
        <input type='text' name='username' required><br>
        Password
        <input type='password' name='password' required><br>
        <input type='submit' name='button' value='Create new user'>
    </h2>
</form>